.story {
  position: relative;
  text-align: left;
  justify-content: space-around;
  line-height: 20px;
  background-color: #fff;
  padding: 20px 30px 20px 80px;
  border-bottom: 1px solid #eee;
}

.score {
  color: #f60;
  font-size: 1.1em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 0;
  width: 80px;
  text-align: center;
  margin-top: -10px;
  }

  .comments {
    margin-left: 5px;
  }

  a {
  display: block;
  text-overflow: ellipsis;
  position: relative;
  color: #828282;
  font-weight: 600;
  text-decoration: none;
  }
 

  .meta {
  display: flex;
  font-size: 0.85em;
  color: #828282;
  }
  